<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic}">


<th:block layout:fragment="content">
    <link href="/css/portfolio.css" rel="stylesheet"/>
    <div class = "container">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card smhrd-card">
                    <img th:src="@{/img/pf/start.jpg}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Hello World!</h5>
                        <p class="card-text">SMHRD 빅데이터 분석가 과정을 수료함으로써 개발자로서의 첫 걸음을 내딛었습니다. 수료 과정에 대한 소감과 경험한 두 차례의 프로젝트의 결과물을 포트폴리오로 담아 보았습니다.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img th:src="@{/img/pf/growth.jpg}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">PsyCode Project</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card github-card">
                    <img th:src="@{/img/pf/github.png}" class="card-img-top" alt="..." style="background-color:#708090;max-height:225px">
                    <div class="card-body">
                        <h5 class="card-title">Visit Github</h5>
                        <p class="card-text">깃허브를 방문하시면 진행중인 프로젝트와 작성된 코드들을 더 자세하게 보실 수 있습니다.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img th:src="@{/img/pf/comingsoon.png}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/lib/pdfobject.js}"></script>
    <script>
        $(".smhrd-card").on("click", function(){
            window.location = "/portfolio/pdf?target=smhrd";
        });
        $(".github-card").on("click", function(){
            window.location = "https://github.com/maxman999";
        });
    </script>

</th:block>
</html>