<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic}">


<th:block layout:fragment="content">
    <link href="/css/portfolio.css" rel="stylesheet"/>
    <div class = "container">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <img th:src="@{/img/pf/start.jpg}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Hello World!</h5>
                        <p class="card-text">SMHRD 빅데이터 분석가 과정을 수료함으로써 개발자로서의 첫 걸음을 내딛었습니다. 수료 과정에 대한 소감과 경험한 두 차례의 프로젝트의 결과물을 포트폴리오로 담아 보았습니다.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img th:src="@{/img/pf/growth.jpg}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">PsyCode Project</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card github-div">
                    <img th:src="@{/img/pf/github.png}" class="card-img-top" alt="..." style="background-color:#708090;max-height:225px">
                    <div class="card-body">
                        <h5 class="card-title">Visit Github</h5>
                        <p class="card-text">깃허브를 방문하시면 진행중인 프로젝트와 작성된 코드들을 더 자세하게 보실 수 있습니다.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img th:src="@{/img/pf/comingsoon.png}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-interval="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img th:src="@{/img/pf/smhrd/pf1.jpg}" class="d-block w-100" alt="...">
                            </div>
                            <th:block th:each="num:${#numbers.sequence(2,16)}">
                                <div class="carousel-item">
                                    <img th:src="@{'/img/pf/smhrd/pf'+${num}+'.jpg'}" class="d-block w-100" alt="...">
                                </div>
                            </th:block>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(".github-div").on("click", function(){
            window.location = "https://github.com/maxman999";
        });
    </script>

</th:block>
</html>