nav {
  height: 90px;
}

.nav-div{
    width : 85%
}

.navbar-brand{
  font-size: xx-large;
}
.dropdown-toggle::after {
  display:none;
}

.sign-btn{
    min-width : 120px;
}

.setting-icon{
    margin-left: 8px;
    color: gray;
}
.user-info{
    min-width: 200px;
    border : none;
    padding : 0 0 0 0;
}
.header-li{
    font-size: small;
}
.body-li{
    font-size: medium;
}

.body-li i{
    margin: 0 15px 0 5px;
}

.user-info a{
    text-decoration-line : none;
}

.about-me-div li{
    margin-bottom : 5px;
}

.about-psycode-div p{
    margin-bottom : 5px;
}
.about-psycode-div h3{
    margin-bottom : 7px;
}