nav {
  height: 90px;
}

.nav-div{
    width : 85%
}

.navbar-brand{
  font-size: xx-large;
}
.dropdown-toggle::after {
  display:none;
}

.sign-btn{
    min-width : 120px;
}

.setting-icon{
    margin-left: 8px;
    color: gray;
}
.user-info{
    min-width: 200px;
    border : none;
    padding : 0 0 0 0;
}
.header-li{
    font-size: small;
}
.body-li{
    font-size: medium;
}

.body-li i{
    margin: 0 15px 0 5px;
}

.user-info a{
    text-decoration-line : none;
}

.about-me-div li{
    margin-bottom : 5px;
}

.about-psycode-div p{
    margin : 0 0 5px 15px;
}
.about-psycode-div h4{
    margin-bottom : 10px;
}

.feedback-div{
    max-width : 75%;
    position : absolute;
    color : #708090;
}

.feedback-div p{
    font-size : 15px;
}
#settingModal .modal-content{
    width: 450px;
}
#settingModal .form-group{
    margin: 15px 0 15px 0;
}
#settingModal .input-div{
    padding-left: 35px;
}
#settingModal p{
    font-size: small;
    color: #708090;
    text-align: center;
    margin: 0;
}

.setting-btn{
    color: #708090;
}