.div-desc {
    max-width : 90%;
    max-height : 55px;
    text-overflow: ellipsis;
    overflow:hidden;

    display: -webkit-box;
    -webkit-line-clamp: 3; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word;
    line-height: 1.2em;
    height: 3.6em;
}


.news-btn{
    width: 6em;
    height: 2.5em;
    margin-bottom : 3px;
}

#keyword1_user, #keyword2_user, #keyword3_user{
    border-radius : 30px;
}

.popover-body{
    padding : 0 0 0 0;
}

.div-warning i{
    color : orange;

}
.div-warning h1{
    font-size: 40px;
}
.div-warning h4{
    color: #708090;

}
.div-warning ol{
    color: #708090;

}
.div-warning li{
    margin: 5px 0 5px 0;
}

