<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic}">

<th:block layout:fragment="content">
    <div class="container">
        <!-- about 영역 -->
        <div class="row justify-content-center">
            <div class="col-md-9">
                <h1>About Me</h1>
                <hr>
                <!-- about me -->
                <div class="row about-me-div">
                    <div class="col-md-3 justify-content-center">
                        <p style="text-align: center;"><img class="rounded-circle" th:src="@{img/main.jpeg}" width="150" , height="150"></p>
                    </div>
                    <div class="col-md-9">
                        <ul>
                            <li> 이제 막 개발을 시작한 주니어 개발자입니다 👋 </li>
                            <li> 모토는 <b>all-around perfection!</b> 빈틈없는 개발로 명품같은 어플리케이션을 만들고 싶습니다 💪 </li>
                            <li> 풀스택 개발자를 목표로 하고 있으며, 4차 산업의 꽃 AI도 함께 공부하고 있습니다. </li>
                            <li> 독서와 산책을 좋아하며, 배움이 미덕이자 경쟁력인 IT 업계의 특성에 매료되어 개발을 시작하게 되었습니다. </li>
                            <li> 명품을 만들기 위해 개발방법론도 틈틈히 공부하고 있으며, 특히 TDD에 많은 관심을 갖고 있습니다. </li>
                            <li> 제 코드가 표준이 되는 그날까지! 끊임없이 정진하겠습니다 🏃 </li>
                        </ul>
                    </div>
                </div>
                <!-- /about me -->
                <!-- About PsyCode -->
                <hr>
                <div class="about-psycode-div">
                    <h4>PsyCode Project</h4>
                    <p>PsyCode는 경력관리와 자기개발을 위해 제작한 웹 어플리케이션 입니다. </p>
                    <p>일회성으로 끝나는 포트폴리오 사이트보다는 자기개발도 함께 할 수 있는 유용한 사이트를 만들고 싶었습니다. </p>
                    <p>그래서 정보수집을 위한 뉴스 스크랩 기능을 제작하였고, 단순하지만 수집된 데이터를 분석하는 기능<small>(빈도수 기반 키워드 추출)</small>도 추가했습니다.</p>
                    <p>아직은 '포트폴리오 관리'와 '뉴스 스크랩' 두 기능밖에 없지만, 계속 확장하여 저뿐만이 아닌 많은 사람들을 위한 PsyCode로 거듭나겠습니다.</p>
                    <br>
                    <small><p><i><del> ( T M I )  </del></i></p> </small>
                    <small><p><i>PsyCode는 프시케(Psyche)와 코드(Code)의 합성어입니다. 프시케는 마음과 영혼을 뜻하는 그리스어로, 심리학(psychology)의 어원입니다.</i></p></small>
                    <small><p><i>제 전공이 심리학이면서 동시에 개발을 공부하고 있기 때문에 이름을 PsyCode로 지어보았습니다. 😆 </i></p></small>
                </div>
                <hr>
                <br>
                <!--/About PsyCode-->
            </div>
        </div>
        <!-- about 영역 -->
        <!-- 댓글 영역  -->
        <div class = "row">
            <div class="col-md-9" style="float: none; margin: 0 auto;">
                <!-- 라이브리 시티 설치 코드 -->
                <div class="feedback-div">
                    <p><b> Feedback & Report &nbsp;</b><i class="fas fa-wrench"></i> </p>
                </div>
                <div id="lv-container" data-id="city" data-uid="MTAyMC81NDQwNS8zMDg3Ng==">
                    <script type="text/javascript">
                        window.livereOptions = {
                            refer : 'www.localhost.com/'
                        };
                       (function(d, s) {
                           var j, e = d.getElementsByTagName(s)[0];
                           if (typeof LivereTower === 'function') { return; }
                           j = d.createElement(s);
                           j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
                           j.async = true;
                           e.parentNode.insertBefore(j, e);
                       })(document, 'script');
                    </script>
                </div>
                <!-- 시티 설치 코드 끝 -->
            </div>
        </div>
    </div>
</th:block>
</html>
