<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic}">

<th:block layout:fragment="content">
    <link href="/css/posts.css" rel="stylesheet"/>

    <div class="row mt-5 scrap-div">
        <div class="col-md-12 mt-5">
            <div class="col-md-5 shadow p-3 mb-5 bg-body rounded" style="float: none; margin: 0 auto;">
                <h3> NEWS SCRAP </h3>
                <hr>
                <form id = "posts-form">
                    <div class="form-group">
                        <input type="text" class="form-control mb-2" id="title" placeholder="제목을 입력해주세요" required maxlength="75">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control mb-2" id="originallink" placeholder="기사의 원문 링크를 입력해주세요" required maxlength="150">
                    </div>
                    <hr>
                    <div class="form-group">
                        <textarea type="text" class="form-control" id="description" style="height: 200px;" placeholder="기사의 요약정보를 입력해주세요" required maxlength="450"></textarea>
                    </div>
                    <hr>
                    <input type="hidden" class="form-control" id="pubdate" th:value="${#calendars.format(#calendars.createNow(),'yyyy-MM-dd')}">
                    <input type="hidden" class="form-control" id="useremail" th:value="${userEmail}" readonly>
                    <input type="hidden" class="form-control" id="summary">
                    <div style="text-align: right;">
                        <a href="/posts/read" role="button" class="btn btn-outline-secondary">취소</a>
                        <button type="submit" class="btn btn-outline-success" id="btn-save">등록</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        var page = [[${page}]];
    </script>
    <script th:inline="javascript" th:src="@{/js/app/posts.js}"></script>
</th:block>
</html>