<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic}">

<th:block layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <form>
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요">
                        </div>
                        <div class="form-group">
                            <label for="originallink">url</label>
                            <input type="text" class="form-control" id="originallink" placeholder="뉴스 원문 링크를 입력해주세요">
                        </div>
                        <div class="form-group">
                            <label for="result"> 작성자 </label>
                            <input type="text" class="form-control" id="result" th:value="${userEmail}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="description"> 요약 </label>
                            <input type="text" class="form-control" id="description" placeholder="뉴스 요약을 입력하세요">
                        </div>
                        <div class="form-group">
                            <label for="summary"> 내용 </label>
                            <textarea class="form-control" id="summary" placeholder="내용을 입력하세요"></textarea>
                        </div>
                        <input type="date" class="form-control" id="pubdate">
                    </form>
                    <a href="/" role="button" class="btn btn-secondary">취소</a>
                    <button type="button" class="btn btn-primary" id="btn-save">등록</button>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        var page = [[${page}]];
    </script>
    <script th:inline="javascript" th:src="@{/js/app/posts.js}"></script>
</th:block>
</html>