<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bootstrap Sign in Form with Social Login Buttons</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/login.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="row login-form">
        <form class = "form-group">
            <h1 class="text-center">Sign In</h1>
            <div class="hint-text small">with your social media account</div>
            <hr>
            <div class="text-center social-btn">
                <div class="row">
                    <div class="col-xs-5" style = "float: none; margin: 0 auto;">
                        <a href="/oauth2/authorization/google" class="btn btn-block" style="color: red;"><i class="fa fa-google"></i> Sign in with <b>Google</b></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5" style = "float: none; margin: 0 auto;">
                        <a href="/oauth2/authorization/naver" class="btn btn-block" style="color: green;"><i class="fa fa-naver"><span style="font-weight:900;">N</span></i> Sign in with <b>Naver</b></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5"    style = "float: none; margin: 0 auto;">
                        <a href="/oauth2/authorization/github" class="btn btn-block" style="color: black;"><i class="fa fa-github"></i> Sign in with <b>Github</b></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5" style = "float: none; margin: 0 auto;">
                        <a href="#" class="btn btn-block" style="color: #fabe43; text-shadow: 1px 1xpx 0px black;"><i class="fa fa-kakao"><span style="font-weight:900;">K</span></i> Sign in with <b>Kakao</b></a>
                    </div>
                </div>
                <hr>

            </div>
        </form>
    </div>
</body>
</html>